.quoteSection{
    margin: 0 50px 50px 50px;
    background: var(--bg);
    display: flex;
    flex-direction: column;
}

.quoteSection h3{
    font-size: 1.2vw;
    text-align: left;
}

.quoteSection h1{
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--third);
    font-size: 3vw;
}

.quoteSection p{
    font-size: 0.9vw;
    font-weight: 200;
}

.quoteContainer{
    display: flex;
    gap: 15px;
    background: var(--section-bg);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}

.quoteContainer svg{
    max-width: 80px;
    max-height: fit-content;
    margin-top: -100px;
}

.quoteDescription{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


@media (max-width: 1000px) {
    .quoteSection{
        margin: 0 25px 25px 25px;
    }
    .quoteSection h3{
        font-size: 12px;
    }
    .quoteSection h1{
        font-size: 20px;
    }
    .quoteSection p{
        font-size: 10px;
    }
}

