.task{
    background: var(--section-bg);
    padding: 15px;
    border-radius: 10px;
}

.title{
    font-size: 1.2vw;
    color: var(--txt-active);
}

.bottom{
    display: flex;
    gap: 35px;
    justify-content: space-between;
}

.row{
    display: flex;
    gap: 15px;
    align-items: center;
}

.col{
    display: flex;
    gap: 5px;
    align-items: center;
}

.col svg{
    align-self: center;
}

.col p{
    font-size: 0.9vw;
    font-weight: 200;
}


.status{
    background: var(--third);
    padding: 5px 10px;
    border-radius: 5px;
}

.status.completed{
    background: #CCFFCC;
}

.status.completed p{
    color: #339966;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .title{
        font-size: 12px;
    }

    .col p{
        font-size: 10px;
    }
}

