.postsSection{
    margin: 0 50px 50px 50px;
    background: var(--bg);
    display: flex;
    flex-direction: column;
}

.postsHeader{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.postsSection h1{
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--third);
    font-size: 3vw;
}

.buttonContainer{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.postsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
    .postsSection{
        margin: 0 25px 25px 25px;
    }
    .postsSection h1{
        font-size: 20px;
    }
}