.buttonContainer{
    display: flex;
    align-items: center;
    max-height: 50px;
    min-height: 20px;
    height: 5vw;

}

.buttonContainer p{
    font-weight: 200;
    margin-right: -5%;
    font-size: 0.9vw;
}

.buttonContainer:hover p{
    color: var(--txt-active);
    transition: 0.5s;
}

.buttonContainer svg{
    height: 100%;
    width: auto;
    min-height: 25px;
}

@media (max-width: 1000px) {
    .buttonContainer p {
        font-size: 10px;
    }
}