@use "../../utils/partialStyles/_pxToRem.scss" as *;

.question{
  display: flex;
  gap: rem(20);
  justify-content: space-between;
  padding: rem(20);
  cursor: pointer;

  p{
    font-family: "Podkova", sans-serif;
    text-transform: uppercase;
    color: var(--txt-active);
    text-decoration: none;
    position: relative;
  }

  p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--primary);
    transition: width 0.3s ease;
  }

  svg{
    transition: transform 0.3s ease;
  }

  &.expanded svg{
    transform: rotate(180deg);
  }

  &:hover{
    p{
      color: var(--primary);
      transition: 0.3s;
      &::after{
        width: 100%;
      }
    }
  }

}

.answer {
  overflow: hidden;
  cursor: pointer;

  p{
    margin: 0 rem(20) rem(20) rem(20);
    font-weight: 300;
    color: var(--txt-active);
  }

}


.hrtLine{
  width: 100%;
  height: rem(1);
  background: var(--third);
}

@media (max-width: rem(750)) {
  .question{
    svg{
      width: rem(15);
      height: auto;
    }
  }
}