.blogCard{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: var(--section-bg);
    gap: 10px;
    position: relative;
    overflow: hidden;
    animation: pulse 1.5s infinite ease-in-out;
}

.skeletonTextPrimary {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    background: var(--primary);
}

.skeletonTextSecondary {
    width: 100%;
    height: 16px;
    border-radius: 4px;
    background: var(--txt-secondary);
}

.skeletonImage {
    width: 100%;
    aspect-ratio: 1.5 / 1;
    border-radius: 5px;
    background: var(--third);
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
}