.card{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    background: var(--section-bg);
    gap: 10px;
    flex: 1;
    position: relative;
    overflow: hidden;
    animation: pulse 1.5s infinite ease-in-out;
}


.cardBottom{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.cardBottom.mobile{
    display: none;
}

.productCard{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cardContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    justify-content: space-between;
}

.bigCircle{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: var(--third);
    align-self: center;
}

.skeletonTextPrimary {
    width: 75%;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    background: var(--primary);
}

.skeletonTextActive {
    width: 60%;
    height: 16px;
    border-radius: 4px;
    background: var(--txt-active);
}

.imgContainer{
    position: relative;
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    background: var(--third);
    border-radius: 10px;
    padding: 10px;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .cardBottom.pc{
        display: none;
    }

    .cardBottom.mobile{
        display: flex;
    }

    .productContainer{
        padding: 10px;
    }

    .card{
        max-width: 250px;
    }

    .imgContainer{
        min-width: 70px;
        min-height: 70px;
        width: 70px;
        height: 70px;
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .productContainer {
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .card{
        max-width: 100%;
    }
}