.searchField {
    position: relative;
    display: flex;
    align-items: center;
}

.searchInput {
    width: 100%;
    padding: 8px 15px 8px 8px;
    border-radius: 5px;
    color: var(--txt-active);
    font-size: 0.9vw;
    font-weight: 200;
    border: none;
    outline: none;
    background: var(--third);
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.searchIcon svg{
    color: var(--primary);
    max-height: 22px;
    max-width: 22px;
}

.suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    background: var(--section-bg);
    border: 1px solid var(--bg);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.suggestionItem {
    padding: 8px 12px;
    cursor: pointer;
    color: var(--txt-active);
    font-size: clamp(10px, 0.9vw, 15px);
    font-weight: 200;
    border-radius: 5px;
}


.suggestionItem:hover {
    background-color: var(--third);
}

@media (max-width: 1000px) {
    .searchInput{
        font-size: 10px;
    }
}