.imageWrapper {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.imageWrapper img {
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
    cursor: zoom-out;
}

.imageWrapper iframe{
    max-width: 100%;
}