.itemContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.mainImage{
    align-self: center;
    max-width: 80%;
    border-radius: 5px;
    border: 1.5px solid var(--primary);
}

.videoContainer{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.videoContainer img{
    transition: filter 0.3s;
}

.videoContainer:hover img {
    filter: brightness(0.5) blur(5px);
    transition: 0.3s;
}

.videoContainer svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 5%;
    height: fit-content;
}

.quote{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    background: var(--section-bg);
    padding: 15px;
    border-radius: 10px;
}

.quote svg{
    max-width: 45px;
    max-height: 45px;
}

.quoteContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.source{
    display: flex;
    gap: 10px;
    background: var(--section-bg);
    padding: 15px;
    border-radius: 10px;
}

.tagsContainer{
    display: flex;
    gap: 10px;
}

.tag{
    background: var(--primary);
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
}

.tag p{
    color: var(--bg);
}

.itemContainer h2{
    font-size: 1.5vw;
    text-align: left;
}

.itemContainer h3{
    text-align: left;
    font-size: 1.2vw;
}

.itemContainer p{
    font-size: 0.9vw;
    font-weight: 200;
}

.mapButtonContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mapButtonContainer svg{
    color: var(--primary);
}

.iconRow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}

.iconItem {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.iconBox {
    width: 100px;
    height: 100px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--section-bg);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.iconBox svg{
    width: 35px;
    height: 35px;
    color: var(--section-bg);
    fill: var(--section-bg);
}

.iconText {
    margin-top: 10px;
    font-size: 0.9vw;
    color: var(--txt-active);
    font-weight: 300 !important;
}


@media (max-width: 1000px) {
    .iconText{
        font-size: 10px;
    }
    .itemContainer h2{
        font-size: 15px;
    }
    .itemContainer p{
        font-size: 10px;
    }
    .itemContainer h3{
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .tagsContainer{
        gap: 5px;
    }
    .source{
        padding: 10px;
    }

    .tag{
        padding: 5px 10px;
    }
}

