.comboBox {
    position: relative;
    min-width: 200px;
    font-family: Arial, sans-serif;
}

.comboBox p{
    font-size: 0.9vw;
    text-transform: capitalize;
}

.comboBoxHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    background-color: var(--third);
}

.comboBoxHeader.closed{
    border-radius: 5px 5px 5px 5px;
}

.comboBoxHeader p{
    color: var(--primary);
    font-family: Podkova, sans-serif;
}

.comboBoxHeader .arrow svg {
    transition: transform 0.3s ease;
}

.comboBoxHeader .arrow.open svg {
    transform: rotate(180deg);
}

.comboBoxContainer {
    display: flex;
    flex-direction: column;
    background: var(--section-bg);
    border-radius: 0 0 5px 5px;
}

.searchField {
    position: relative;
    padding: 8px;
}

.searchInput {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    color: var(--txt-active);
    font-size: 0.9vw;
    font-weight: 200;
    border: none;
    outline: none;
    background: var(--selectable);
}

.searchIcon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.optionsList {
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;

}


.optionsList{
    scrollbar-width: thin;
    scrollbar-color: var(--section-bg) var(--third);
}

.optionsList::-webkit-scrollbar {
    width: 10px;
}

.optionsList::-webkit-scrollbar-track {
    background: var(--third);
    border-radius: 5px;
}

.optionsList::-webkit-scrollbar-thumb {
    background: var(--section-bg);
    border-radius: 10px;
    border: 2px solid var(--third);
}

.optionsList::-webkit-scrollbar-thumb:hover {
    background: var(--fg);
}


.optionItem {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
}

.optionItem p{
    color: var(--txt-active);
}


.checkbox {
    margin-right: 8px;
    color: transparent;
}

.checkbox.checked {
    font-weight: 200;
    color: #007bff;
}

@media (max-width: 1000px) {
    .comboBox p, .searchInput{
        font-size: 10px;
    }
}