.sectionContainer{
    margin: 0 50px 50px 50px;
    display: flex;
    background: var(--bg);
}

.sectionContainer h2{
    font-size: 1.5vw;
    text-align: left;
}

.sectionContainer h3{
    text-align: left;
    font-size: 1.2vw;
}

.sectionContainer p{
    font-size: 0.9vw;
    font-weight: 200;
}

.sectionMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 0 0;
    min-width: fit-content;
}

.menuItemsContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menuItemsContainer a{
    font-weight: 200;
}

.section{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sectionHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectionNav, .sectionButtons{
    display: flex;
    gap: 10px;
    padding: 0 10px;
    align-items: center;
}

.sectionNav svg{
    fill: var(--primary)
}

.sectionContent{
    display: flex;
    gap: 15px;
}

.contentMain{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.contentSide{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    max-width: 20%;
    min-width: 20%;
    width: 100px;
    gap: 10px;
}

.sideButtons{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.aIconButton{
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--txt-secondary);
}

.aIconButton span{
    font-family: Podkova, sans-serif;
}

.aIconButton svg{
    color: var(--primary);
}

.aIconButton.added svg{
    fill: var(--icon-added);
    color: var(--icon-added);
}

@media (hover: hover) and (pointer: fine) {
    .aIconButton:hover {
        color: var(--txt-primary);
    }
}

.blogCard{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: var(--section-bg);
    gap: 10px;
}

.cardTextPrimary{
    font-family: Podkova, sans-serif;
    font-weight: initial;
    color: var(--primary);
}

.cardTextPrimary, .cardDescription{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardTextPrimary{
    -webkit-line-clamp: 2;
    cursor: pointer;
}

.cardDescription{
    -webkit-line-clamp: 3;
}

.cardImg{
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 1000px) {
    .sectionContainer{
        margin: 0 25px 25px 25px;
    }
    .sectionContainer h2{
        font-size: 15px;
    }
    .sectionContainer p{
        font-size: 10px;
    }
    .sectionContainer h3{
        font-size: 12px;
    }

    .sectionNav a svg{
        max-width: 16px;
        max-height: 16px;
    }

}

@media (max-width: 900px) {
    .contentSide{
        display: none;
    }
}

@media (max-width: 700px) {
    .aIconButton span{
        display: none;
    }
}

@media (max-width: 500px) {
    .sectionMenu{
        display: none;
    }
}