.sectionContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sectionContainer h3{
    text-align: left;
    text-transform: none;
    font-size: 1.2vw;
}

.buttonSwitch{
    display: flex;
    gap: 5px;
    background: var(--section-bg);
    padding: 5px;
    border-radius: 10px;
    max-height: 50px;
    max-width: fit-content;
}

@media (max-width: 768px) {
    .buttonSwitch{
        max-height: min-content;
    }
    .buttonSwitch svg{
        max-height: 35px;
        max-width: 35px;
    }
}

@media (max-width: 1000px) {
    .sectionContainer h3 {
        font-size: 12px;
        margin-left: 25px;
    }
    .buttonSwitch{
        margin-left: 25px;
    }
}