.eventsSection{
    margin: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eventsSection h1{
    font-size: 2vw;
    text-align: left;
}

.eventsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eventsButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.eventsPictures{
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.eventsPictures img{
    max-height: 450px;
}

.eventCard{
    background: var(--section-bg);
    padding: 20px;
    border-radius: 10px;
}

.eventCard p{
    font-size: 0.9vw;
    font-weight: 200;
}

.eventCard h3{
    text-align: left;
    font-size: 1.2vw;
    color: var(--primary)
}

.buttonsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}

.datesSection{
    background: var(--section-bg);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
}

.scrollButton svg{
    color: var(--fg);
}

.scrollButton:hover svg{
    color: var(--primary);
    transition: 0.5s;
}

.datesContainer{
    display: flex;
    gap: 30px;
    flex: 1;
    margin: 0 20px;
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    scroll-behavior: smooth; /* Плавная прокрутка */
    scrollbar-width: none; /* Скрываем полосу прокрутки в Firefox */
}

.month{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.days{
    display: flex;
    gap: 10px;
}

.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.datesSection p{
    font-size: 0.9vw;
}

.day.active p{
    color: var(--fg);
}

.day .circle{
    background: var(--section-bg);
    width: 5px;
    height: 5px;
    border-radius: 25px;
    align-self: flex-end;
}

.day.active .circle{
    background: var(--primary);
}



@media (max-width: 500px) {

    .eventsPictures img{
        max-height: initial;
        max-width: 300px;
    }
}

@media (max-width: 768px) {

    .eventsPictures img{
        max-height: initial;
        max-width: 300px;
    }
}

@media (max-width: 1000px) {
    .datesContainer {
        gap: 20px;
        margin: 0 10px;
    }
    .datesSection p{
        font-size: 10px;
    }
    .datesSection{
        margin-right: 0;
    }
    .eventCard p{
        font-size: 10px;
    }
    .eventsSection{
        margin: 0 25px 25px 25px;
    }
    .eventsSection h1{
        font-size: 20px;
    }
    .eventCard h3{
        font-size: 12px;
    }
    .buttonsRow{
        margin-right: 25px;
    }
}

