.historyContainer{
    display: flex;
    flex-direction: column;
    margin: 0 300px 50px 300px;
    gap: 10px
}

.story{
    display: flex;
    gap: 30px;
    align-items: center;
    max-height: 300px;
    justify-content: space-between;
}

.image{
    display: flex;
    padding: 10px;
    align-items: center;
    object-position: center;
    height: 300px;
    max-width: 35%;
}

.image img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    min-width: 100px;

}

.description{
    max-width: 65%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description h3{
    text-align: left;
    font-size: 1.2vw;
    color: var(--primary);
}

.description p{
    font-size: 0.9vw;
    font-weight: 200;
}

.buttonRow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg);
}

.showAllContainer{
    position: relative;
}

.gradient{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, var(--bg-full-opacity) 0%, var(--bg) 50%);
}

@media (max-width: 1000px) {
    .historyContainer{
        margin: 0 25px 25px 25px;
    }

    .description p{
        font-size: 10px;
    }
    .story{
        gap: 15px;
    }
    .description h3{
        font-size: 15px;
    }
    .story{
        max-height: fit-content;
    }
    .image{
        height: 150px;
    }
}