.radio {
    position: relative;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rangeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
}

.rangeInput {
    background: var(--third);
    color: var(--txt-active);
    width: 100%;
    padding: 8px;
    border: none;
    font-size: 0.9vw;
    font-weight: 200;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.radio p, .radio label{
    font-size: 0.9vw;
    text-transform: capitalize;
}

.radioHeader{
    color: var(--primary) !important;
    font-family: Podkova, sans-serif !important;
    margin-bottom: 5px;
}

.option{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.option p{
    font-weight: 200;
    color: var(--txt-active);
}

.radio input[type="radio"] {
    display: none;
}


.radioButton {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    background-color: var(--third);

}


.radio input[type="radio"]:checked + .radioButton::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
    .radio p, .radio label, .rangeInput{
        font-size: 10px;
    }

}