@use "../../utils/partialStyles/_pxToRem.scss" as *;

.formSection{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
}

.formSection p{
    font-weight: 200;
}

.outlineTitle{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: rem(1) var(--third);
}

.authContent{
    background: var(--form-bg);
    backdrop-filter: blur(rem(10));
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    padding: rem(25) rem(40);
    border-radius: rem(10);
    gap: rem(15);
}

.formRow{
    display: grid;
    grid-template-columns: rem(150) rem(300);
    align-items: center;
    gap: rem(30);
}

.innerRow{
    display: flex;
    gap: rem(10);
    align-items: center;
}

.dottedA{
    font-weight: 200;
    color: var(--txt-secondary);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--txt-secondary);
}

.formRow textarea{
    width: 100%;
    resize: none;
    border-radius: rem(5);
    padding: rem(5);
    outline: none;
    border: none;
    background: var(--third);
    font-weight: 200;
    color: var(--txt-active);
    min-height: rem(70);
}

@media (hover: hover) and (pointer: fine) {
    .dottedA:hover {
        color: var(--txt-active);
        text-decoration-color: var(--txt-active);
        transition: 0.5s;
    }
}

.underline{
    text-decoration-line: underline;
}

.formRow input{
    width: rem(300);
}

.error{
    font-family: "Podkova", sans-serif;
    color: var(--primary);
}

@media (max-width: rem(1000)) {
    .formRow textarea{
        min-height: rem(35);
    }

}

@media (max-width: rem(700)) {
    .formRow{
        grid-template-columns: rem(50) rem(200);
    }
    .formRow input{
        width: 100%;
    }
    .authContent{
        padding: rem(15) rem(20);
    }
    .authSection form{
        width: calc(100% - 50px);
    }
}

