@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.card{
  width: rem(360);
  cursor: pointer;
}

.pictureContainer{
  width: 100%;


  img{
    width: 100%;
    height: 100%;
    border-radius: rem(20) rem(20) 0 0;
  }
}

.description{
  position: relative;
  margin-top: rem(-22);
  background: var(--section-bg);
  border-radius: rem(20);
  padding: rem(15) rem(10);
  height: rem(235);
  font-weight: 200;
}

.chooseButton{
  width: 100%;
  background: var(--primary);
  margin-top: rem(-20);
  padding: rem(30) 0 rem(11) 0;
  border-radius: 0 0 rem(20) rem(20);
  transition: 0.3s;
  p{
    color: var(--bg);
  }
}

.card:hover {
  .chooseButton{
    transition: 0.3s;
    background: var(--primary-semi-transparent);
  }
  .promo{
    transform: scale(1.05);
    transition: .3s;
  }
}



.title{
  font-family: "Podkova", sans-serif;
  color: var(--primary);
  text-transform: uppercase;
}

@media (max-width: rem(800)) {
  .card{
    width: calc(50vw - 35px);
  }
}

.promo{
  position: absolute;
  padding: rem(5) rem(10);
  margin: rem(10);
  background: var(--section-bg-semi-transparent);
  border-radius: rem(20);
  color: var(--primary);
  transition: .3s;
}

@media (max-width: rem(450)) {
  .promo{
    margin: rem(5);
    padding: rem(5);
    border-radius: rem(10);
    max-width: rem(100);
  }
}

