.reviews{
    margin: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
    background: var(--bg);
}

.commentsSection{
    display: flex;
    gap: 20px;
}

.commentsContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.commentPhotos{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.imageWrapper{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.imageWrapper.photos{
    width: 85px;
}

.imageWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

.assessmentContainer{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.pHeader{
    font-family: Podkova, sans-serif;
    color: var(--txt-active);
}

.commentsSection p{
    font-weight: 200;
    font-size: 0.9vw;
}

.assessment{
    background: var(--section-bg);
    padding: 15px;
    border-radius: 10px;
    height: min-content;
}

.comment{
    display: flex;
    gap: 10px;

}

.commentContent{

}

.commentHeader{
    display: flex;
    justify-content: space-between;
}

.commentHeader p{
    color: var(--txt-active);
}

.avatar{
    max-width: 100px;
    max-height: 100px;
}

.mark{
    background: var(--section-bg);
    display: flex;
    width: min-content;
    padding: 7px 10px;
    border-radius: 25px;
    gap: 10px;
    justify-content: center;
}

.markRight{
    display: flex;
    gap:10px;
}

.commentButtons{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.aComment{
    color: var(--primary);
}

.mark div svg{
    color: var(--txt-secondary);
}

.mark div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.dateAndBottles{
    display: flex;
    gap: 10px;
}

.beerBottles{
    display: flex;
    align-items: center;
    gap: 5px !important;
}

.beerBottles svg{
    cursor: initial !important;
}

@media (hover: hover) and (pointer: fine) {
    .aComment:hover {
        color: var(--primary-semi-transparent);
    }

    .mark div svg:hover{
        color: var(--txt-active);
    }
}

@media (max-width: 1300px) {
    .minBottles svg{
        max-height: 10px;
    }
    .minBottles{
        gap: 2px !important;
    }
}

@media (max-width: 1000px) {
    .reviews{
        margin: 0 25px 25px 25px;
    }
    .avatar{
        max-width: 35px;
        max-height: 35px;
    }

    .mark div svg{
        max-height: 15px;
        max-width: 15px;
    }

    .commentsSection p{
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .assessmentContainer{
        display: none;
    }
    .commentsContainer{
        width: 100%;
    }
}

@media (max-width: 368px) {
    .markRight{
        flex-direction: column;
        gap: initial;
    }
}