@use "../../utils/partialStyles/_pxToRem.scss" as *;

.authSection{
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
}

.error{
    font-family: "Podkova", sans-serif;
    color: var(--primary);
}

.authSection p{
    font-weight: 200;
}

.outlineTitle{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: rem(1) var(--primary);
}

.title{
    font-family: "Podkova", sans-serif;
    color: var(--txt-active);
    text-align: center;
    font-weight: 200;
}

.authContent{
    background: var(--form-bg);
    backdrop-filter: blur(rem(10));
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    padding: rem(25) rem(40);
    border-radius: rem(10);
    gap: rem(15);
}

.formRow{
    display: grid;
    grid-template-columns: rem(200) rem(300);
    align-items: center;
    gap: rem(30);
}

.innerRow{
    display: flex;
    gap: rem(10);
    align-items: center;
}

.dottedA{
    font-weight: 200;
    color: var(--txt-secondary);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--txt-secondary);
}

@media (hover: hover) and (pointer: fine) {
    .dottedA:hover {
        color: var(--txt-active);
        text-decoration-color: var(--txt-active);
        transition: 0.5s;
    }
}

.underline{
    text-decoration-line: underline;
}

.formRow input{
    width: rem(300);
}


@media (max-width: rem(700)) {
    .formRow{
        grid-template-columns: rem(100) auto;
    }
    .formRow input{
        width: 100%;
    }
    .authContent{
        padding: rem(15) rem(20);
        width: 100%;
    }
    .authSection form{
        width: calc(100% - 50px);
    }
}

@media (max-width: rem(400)) {
    .formRow{
        grid-template-columns: rem(50) auto;
    }
}
