.itemContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.mainImage{
    align-self: center;
    max-width: 80%;
    border-radius: 5px;
}

.quote{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    background: var(--section-bg);
    padding: 15px;
    border-radius: 10px;
}

.quote svg{
    max-width: 45px;
    max-height: 45px;
}

.quoteContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.source{
    display: flex;
    gap: 10px;
    background: var(--section-bg);
    padding: 15px;
    border-radius: 10px;
}

.tagsContainer{
    display: flex;
    gap: 10px;
}

.tag{
    background: var(--primary);
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
}

.tag p{
    color: var(--bg);
}

.itemContainer h2{
    font-size: 1.5vw;
    text-align: left;
}

.itemContainer h3{
    text-align: left;
    font-size: 1.2vw;
}

.itemContainer p{
    font-size: 0.9vw;
    font-weight: 200;
}

.mapButtonContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mapButtonContainer svg{
    color: var(--primary);
}

@media (max-width: 1000px) {
    .itemContainer h2{
        font-size: 15px;
    }
    .itemContainer p{
        font-size: 10px;
    }
    .itemContainer h3{
        font-size: 12px;
    }

}

@media (max-width: 500px) {
    .tagsContainer{
        gap: 5px;
    }
    .source{
        padding: 10px;
    }

    .tag{
        padding: 5px 10px;
    }
}

