@use "../../utils/partialStyles/_pxToRem.scss" as *;

.menuContainer{
    display: flex;
    gap: rem(10);
    flex-direction: column;
    width: 100%;
}

.banner{
    padding: rem(20) rem(10);
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: rem(10);
}

@media (max-width: rem(1225)) {
    .banner{
        display: none;
    }
}

.wrapper{
    padding: 0 rem(50) rem(50) rem(50);
    display: flex;
    gap: rem(10);

}

.menuContainer h2{
    align-self: flex-start;
    text-align: left;
}

.menuHeader{
    display: flex;
    flex-direction: column;
    gap: rem(10);
}

.catalogHeader{
    display: flex;
    flex-direction: column;
    gap: rem(10);
}



.catalogHeader p{
    font-weight: 200;
}

.justy{
    display: flex;
    gap: rem(5);
    justify-content: space-between;
    align-items: flex-end;
}

.justy h2{
    align-self: flex-end;
}

.filterButtons{
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
    width: 100%;
}


.menuContent{
    display: flex;
    width: 100%;
    min-height: rem(100);
    gap: rem(10);
}

.menuFilters{
    flex: 0 0 20%;
    padding: 0 rem(25) 0 0;
    display: flex;
    flex-direction: column;
    gap: rem(15);
}

.menuFilters button{
    width: 100%;
    justify-content: center;
}

.toggleAndOptions{
    display: flex;
    align-items: center;
    gap: rem(20);
    flex-wrap: wrap;
}

.toggleAndOptions p{
    font-weight: 200;
    color: var(--txt-active);
}

.menuItemsSections{
    flex: 1;
}

.appliedFiltersRow{
    display: flex;
    gap: rem(10);
    margin-bottom: rem(15);
    flex-wrap: wrap;
    &:has(> *) {
        margin-top: rem(15);
    }
}


.forSvg svg{
    color: var(--primary);
}

@media (max-width: rem(1000)) {
    .wrapper{
        padding: 0 rem(25) rem(25) rem(25);
    }
    .menuFilters{
        padding: 0;
    }

}

@media (max-width: rem(768)) {
    .menuFilters{
        display: none;
    }
    .toggleAndOptions{
        gap: rem(10);
    }
}

