@use "../../utils/partialStyles/_pxToRem.scss" as *;

.ordersSection{
    background: var(--section-bg);
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    margin-right: rem(50);
    padding: rem(15);
    border-radius: rem(10);
    gap: rem(10);
}

.ordersSection p{
    font-weight: 300;
}

.ordersSection h3{
    text-transform: none;
}

.ordersSection a p{
    text-decoration-line: underline;
    color: var(--txt-active);
}

@media (hover: hover) and (pointer: fine) {
    .ordersSection a:hover p {
        color: var(--primary);
        transition: 0.5s;
    }
}

.headerRow{
    display: flex;
    justify-content: space-between;
}


@media (max-width: rem(1000)) {
    .ordersSection{
        width: calc(100% - 50px);
        margin-right: rem(25);
        margin-left: rem(25);
    }

}
