@use "../../utils/partialStyles/_pxToRem.scss" as *;

.calculatorSection{
  margin: 0 rem(50) rem(50) rem(50);
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: rem(50);
}

.fieldsRow{
  display: flex;
  gap: rem(50);
}

.description{

  h2{
    text-align: left;
  }

  p{
    font-weight: 300;
    margin-top: rem(15);
  }

}

.calculator{
  background: var(--section-bg);
  border-radius: rem(25);
  padding: rem(25) rem(40);
}

.field{
  display: flex;
  flex-direction: column;
  gap: rem(10);

  p{
   font-weight: 300;
  }

}


.additionalOptions{
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(10);

  p{
    font-weight: 300;
  }

}

.options{
  display: flex;
  gap: rem(10);
  flex-wrap: wrap;
}

.option{
  padding: rem(5) rem(10);
  background: var(--third);
  border-radius: rem(15);
  cursor: pointer;

  p{
    font-weight: 300;
    text-transform: uppercase;
    color: var(--txt-active)

  }

  &.selected{
    background: var(--primary);
    transition: 0.3s;
    p{
      color: var(--bg);
      transition: 0.3s;
    }
  }

}


.priceAndSubmit{
  display: flex;
  justify-content: space-between;
  margin-top: rem(50);
  h3{
    font-weight: 500;
  }
}

@media (max-width: rem(1500)) {
  .field{
    width: rem(200);
  }
  .fieldsRow{
    gap: rem(15);
  }
}

@media (max-width: rem(1100)) {
  .calculator{
    padding: rem(15) rem(25);
  }
}

@media (max-width: rem(1000)) {
  .calculatorSection{
    margin: 0 rem(25) rem(25) rem(25);
    display: flex;
    flex-direction: column;
  }
  .calculatorSection{
    gap: rem(25);
  }


}

@media (max-width: rem(600)) {
  .field{
    width: rem(150);
  }
  .fieldsRow{
    flex-wrap: wrap;
  }
}

@media (max-width: rem(450)) {
  .fieldsRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .field:last-child {
    grid-column: span 2;
  }

  .priceAndSubmit{
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    margin-top: rem(15);
    gap: rem(15);
  }

  .field{
    width: 100%;
  }
}