.currentPromosContainer{
    margin: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.promosDescriptionContainer{
    display: flex;
    align-items: center;
    gap: 10px
}

.promosPictures{
    display: flex;
    max-height: 350px;
    gap: 15px;
    justify-content: space-between;
}

.promosButtons{
    display: flex;
    justify-content: space-between;
    height: 100px;
    gap:25px;
}



.arrowButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.promosPictures div{
    border-radius: 15px;
}

.promosPictures img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.descriptionButton{
    background: var(--bg);
    border: 1px solid var(--primary);
    border-radius: 5px;
    display: flex;
    gap: 5px;
    padding: 10px;
    width: fit-content;
    align-items: center;
    cursor: pointer;
}

.descriptionButton:hover{
    background: var(--section-bg);
    transition: 0.5s;
}

.descriptionButton svg{
    max-height: 26px;
    max-width: 26px;
}

.descriptionButton p{
    font-size: 0.8vw;
    text-wrap: nowrap;
    text-transform: uppercase;
    color: var(--txt-active)
}

.descriptionIcon svg{
    max-height: 55px;
    max-width: 55px;
}

.promosDescription{
    margin-right: 40px;
}

.promosDescription h3{
    text-align: left;
    font-size: 1.2vw;
}
.promosDescription p{
    font-weight: 200;
    font-size: 0.9vw;
}

@media (max-width: 1000px) {
    .promosDescription p, .descriptionButton p {
        font-size: 10px;
    }

    .promosDescription h3 {
        font-size: 12px;
    }

    .currentPromosContainer {
        margin: 0 25px 25px 25px;
    }
}

@media (max-width: 768px) {
    .promosDescriptionContainer{
        justify-content: space-between;
    }

    .descriptionIcon svg{
        max-height: 35px;
        max-width: 35px;
    }

    .promosDescription p{
        display: none;
    }
    .descriptionButton{
        padding: 5px;
    }
    .promosDescription h3{
        text-align: center;
    }
    .promosDescription{
        margin-right: 0;
    }
}