@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.menuContainer{
    padding: 0 rem(50) rem(50) rem(50);
    display: flex;
    gap: rem(10);
    flex-direction: column;
}

.menuContainer h2{
    align-self: flex-end;
    text-align: left;
}

.filterButtons{
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
}

.menuContent{
    display: flex;
    width: 100%;
    min-height: rem(100);
    gap: rem(10);
    padding: 0 rem(50) rem(50) rem(50);
}

.menuFilters{
    flex: 0 0 20%;
    padding: 0 rem(25) 0 0;
    display: flex;
    flex-direction: column;
    gap: rem(15);
}

.menuFilters button{
    width: 100%;
    justify-content: center;
}


.menuItemsSections{
    flex: 1;
}


@media (max-width: rem(1000)) {
    .menuContainer{
        margin: 0 rem(25) rem(25) rem(25);
    }
    .menuFilters{
        padding: 0;
    }
}

@media (max-width: rem(768)) {
    .menuFilters{
        display: none;
    }

}

/* Catalog section*/
.menuSection{
    display: flex;
    flex-direction: column;
}

.sectionHeader{
    width: 100%;
    display: flex;
    gap:rem(10);

}

.sectionDescriptionIcon {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionDescriptionIcon svg{
    height: rem(117);
    width: auto;
}

.sectionDescription{
    margin-right: rem(10);
}

.sectionButton{

    display: flex;
    align-items: center;
    justify-content: center;

}

.sectionButton.mobileOff{
    align-self: flex-start;
}

.headerAndButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.appliedFiltersRow{
    display: flex;
    gap: rem(10);
    margin: rem(15) rem(15) 0 rem(15);
    flex-wrap: wrap;
}

.sectionHeader p{
    font-weight: 200;
}

.sectionContentWide{
    display: grid;
    grid-template-columns: repeat(auto-fill, rem(400));
    gap: rem(20);
    padding: rem(15);
    justify-content: flex-start;
    align-items: stretch;

}

.mobileButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: rem(15);
    margin-top: rem(10);
    .sectionButton{
        margin-left: 0;
    }
}

.loadMoreSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionContent{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, rem(270));
    gap: rem(20);
    padding: rem(15);
    align-items: stretch;
}

.row{
    margin-left: rem(15);
}


@media (max-width: rem(1400)) {
    .mobileOff{
        display: none;
    }
}

@media (max-width: rem(1000)) {
    .sectionHeader{
        width: 100%;
    }
    .row{
        margin-left: 0;
    }
    .row.sectionDescription{
        align-items: center;
        justify-content: flex-start;
        display: flex;
        flex: 1;
    }
    .sectionDescription{
        align-items: center;
        justify-content: center;
        display: flex;
        flex: 1;

        h2{
            text-align: center;
            align-self: center;
        }

        p{
            display: none;
        }
    }

    .sectionButton{
        margin-right: rem(40);
    }

    .menuContent{
        padding: 0 rem(25) rem(25) rem(25);
    }


}

@media (max-width: rem(900)) {
    .sectionContentWide{
        display: grid;

        gap: rem(15);
        padding: rem(15);
        align-items: stretch;
        grid-template-columns: 1fr 1fr;
    }

    .sectionContent{
        grid-template-columns: rem(200) rem(200);
    }
}

@media (max-width: rem(768)) {
    .sectionDescriptionIcon{
        display: none;
    }

    .sectionContent{
        padding: rem(10) 0;
    }

    .sectionHeader{
        flex-direction: column;
        align-items: flex-start;
        overflow: auto;
    }

    .sectionDescription{
        margin-right: 0;

    }

    .sectionDescription h2{
        text-align: left;
    }

    .sectionButton{
        margin-left: rem(60);
    }
}

@media (max-width: rem(700)) {
    .sectionContentWide{
        display: grid;
        grid-template-columns: 1fr;
        gap: rem(15);
        padding: rem(15);
        align-items: stretch;
        align-content: center;
        justify-items: flex-start;
    }
}

@media (max-width: rem(468)) {
    .sectionContent{
        grid-template-columns: 1fr 1fr;
    }
}