@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.menuContainer{
    display: flex;
    gap: rem(10);
    flex-direction: column;
}

.marginize, .filterButtons{
    margin: 0 rem(50) 0 rem(50);
}

.menuContainer h2{
    align-self: flex-end;
    text-align: left;
}

.filterButtons{
    display: flex;
    flex-wrap: wrap;
    gap: rem(10);
    margin-bottom: rem(10);
}

@media (max-width: rem(1000)) {
    .menuContainer{
        margin: 0 0 rem(25) 0;
    }
    .marginize, .filterButtons{
        margin: 0 rem(25) 0 rem(25);
    }
    .filterButtons{
        margin-bottom: rem(20);
    }

}