.menuContainer{
    margin: 0 50px 50px 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.menuContainer h2{
    align-self: flex-start;
    text-align: left;
}

.filterButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

@media (max-width: 1000px) {
    .menuContainer{
        margin: 0 25px 25px 25px;
    }

}