.headerContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}

.headerContainer p{
    font-weight: 200;
    font-size: 0.9vw;
}

.headerContainer h3{
    text-align: left;
}

.headerIcon svg{
    width: 119px;
    height: 119px;
}

@media (max-width: 1000px) {
    .headerContainer p {
        font-size: 10px;
    }

    .headerContainer h3 {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .headerIcon svg{
        max-height: 35px;
        max-width: 35px;
    }
}
