.excursionsContainer{
    display: flex;
    gap: 15px;
    margin: 0 50px 50px 50px;
}

.imageContainer{
    height: 200px;
    flex: 0.3;
}

.imageContainer img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.settings{
    display: flex;
    gap: 30px;
}

.settings h3{
    color: var(--primary);
}

.settings div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description{
    flex: 0.7;
}

.description h1{
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--primary);
    font-size: 3vw;
}

.descriptionContainer{
    background: var(--section-bg);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descriptionContainer p{
    font-size: 0.9vw;
    font-weight: 200;
}

.descriptionContainer h3{
    font-size: 1.2vw;
    text-align: left;
}

@media (max-width: 1000px) {
    .excursionsContainer{
        margin: 0 25px 25px 25px;
    }
    .description h1{
        font-size: 20px;
    }
    .description p{
        font-size: 10px;
    }
    .description h3{
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .settings{
        gap: 15px;
    }
}

@media (max-width: 500px) {
    .imageContainer{
        display: none;
    }
    .excursionsContainer{
        justify-content: center;
    }
    .settings{
        gap: 10px;
    }
}