.barInfoContainer{
    margin: 0 50px 50px 50px;
    display: flex;
    gap: 10px;
}

.barIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}
.beerPictures {
    display: flex;
    gap: 20px;
}

.picturesColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
}

.picturesColumn div {
    background: var(--fg);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 5px;
}

.picturesColumn div.selected{
    border: 2px solid var(--primary);
}

.picturesColumn img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.beerPictures > div:last-child {
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    background: var(--fg);
}

.beerPictures > div:last-child img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.socials{
    background: rgba(39, 39, 39, 0.5);
    width: 45px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
}

.barDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 60%;
}

.barDescription h2, .barInfo h2{
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 2vw;
}

.barDescription p, .ratingAndComments p, .barInfo p{
    font-weight: 300;
    font-size: 0.9vw;
}

.advantagesListItem h3{
    text-align: left;
    color: var(--primary);
    font-size: 1.2vw;
}

.barButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.barButtonsMobile{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.barInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    gap: 10px;
}

.barInfo div{
    display: flex;
    gap: 10px;
}

.aIconButton{
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--txt-secondary);
    font-family: Podkova, sans-serif;
}

.aUnderlinedIconButton{
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--txt-primary);
    font-family: Podkova, sans-serif;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--txt-primary);
}

.aUnderlinedIconButton:hover{
    color: var(--primary);
    text-decoration-color: var(--primary);
    transition: 0.5s;
}

.circle{
    width: 4px;
    height: 4px;
    background: var(--primary);
    border-radius: 100%;
}

.ratingAndComments{
    display: flex;
    align-items: center;
}

.beerBottles{
    display: flex;
    gap: 5px !important;
}

.cartAndPrice{
    display: flex;
    align-items: center;
}

.cartAndPrice h2{
    align-self: center !important;
}

.beerBottles svg{
    cursor: initial !important;
}

.aIconButton svg{
    color: var(--primary);
}

.aIconButton.added svg{
    fill: var(--icon-added);
    color: var(--icon-added);
}

.aIconButton:hover{
    color: var(--txt-primary);
}

.barInfo h2{
    text-align: right;
    align-self: flex-end;
}


.barInfo.mobile{
    background: var(--section-bg);
    box-sizing: border-box;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    display: none;
    align-items: center;
    align-self: center;
}

.characteristicsList{
    color: var(--primary);
    box-sizing: border-box;
}

.characteristicsList li{
    display: flex;
    align-items: center;
}

.characteristicsList li p{
    display: inline-block;
    max-width: 100%;

}

.characteristicsList li::before {
    content: "•";
    color: var(--primary);
    font-size: 1.2em;
    margin-right: 5px;
}

.characteristics{
    display: flex;
    gap: 15px;
    background: var(--section-bg);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
}

.characteristic{
    display: flex;
    align-items: center;
    gap: 5px;
}

.descriptionMobile{
    margin: 0 25px 25px 25px;
    font-size: 0.9vw;
    font-weight: 200;
    display: none;
}

@media (max-width: 1000px) {
    .barDescription p, .ratingAndComments p, .barInfo p, .descriptionMobile{
        font-size: 10px;
    }
    .barInfo.regular{
        display: none;
    }
    .barDescription h2, .barInfo h2{
        font-size: 15px;
    }
    .barInfoContainer{
        margin: 0 25px 5px 25px;
    }
    .barInfo.mobile{
        display: flex;
        margin-left: 25px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .barButtonsMobile{
        display: flex;
        margin-bottom: 25px;
    }
    .barButtons{
        display: none;
    }
    .barInfoContainer{
        margin-bottom: 10px;
    }

    .descriptionMobile{
        display: block;
    }

    .beerTitle{
        text-align: center !important;

    }

    .characteristic p{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .characteristics{
        gap: 5px;
        flex-direction: column;
        border-radius: 10px;
    }
    .notMobile{
        display: none;
    }


}

@media (max-width: 600px) {
    .barInfo.mobile{
        margin: 0 auto 10px auto;
    }
}