.box {
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-items: center;
    background: var(--third);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.box:hover{
    background: var(--primary);
    transition: 0.5s;
}

.box:hover svg{
    color: var(--section-bg);
    transition: 0.5s;
}

.box svg{
    color: var(--txt-active);
    max-width: 30px;
    height: fit-content;
}

@media (max-width: 1000px) {
    .box svg{
        max-width: 20px;
    }
}