.iconButton{
    background: transparent;
    border: 1px solid var(--primary);
    border-radius: 5px;
    display: flex;
    gap: 5px;
    padding: 10px;
    width: fit-content;
    align-items: center;
    cursor: pointer;
}

.thirdPrimary{
    background: var(--third);
    border: none;
}

.thirdPrimary p{
    font-family: "Podkova", sans-serif;
    color: var(--primary) !important;
}

.primaryThird{
    background: var(--primary);
    border: none;
}

.primaryThird p{
    font-family: "Podkova", sans-serif;
    color: var(--bg) !important;
}

.primaryThird svg{
    color: var(--bg);
}

.primaryThird svg :global(.iconSecondary){
    fill: var(--bg)
}

.thirdPrimary svg{
    color: var(--primary);
}

.thirdPrimary svg :global(.iconSecondary){
    fill: var(--primary);
}

.secondary{
    background: var(--section-bg);
    border: none;
}

.primary{
    background: var(--primary);
    border: none;
}

.primary p{
    color: var(--bg) !important;
}

.iconButton svg{
    max-height: 26px;
    max-width: 26px;
}

.secondary svg{
    color: var(--primary);
}

.secondary svg :global(.iconSecondary) {
    fill: var(--bg);
}


.primary svg{
    color: var(--bg);
}

.primary svg :global(.iconSecondary){
    fill: var(--primary)
}

.third{
    border: none;
    background: var(--third);
}

.third p{
    text-transform: none !important;
    font-family: "Podkova", sans-serif;
}

.iconButton p{
    font-size: 0.8vw;
    text-wrap: nowrap;
    text-transform: uppercase;
    color: var(--txt-active)
}

.secondary p{
    color: var(--primary);
}

@media (hover: hover) and (pointer: fine) {
    .primaryThird:hover {
        background: var(--primary-semi-transparent) !important;
        transition: 0.5s;
    }

    .iconButton:hover{
        background: var(--section-bg);
        transition: 0.5s;
    }

    .secondary:hover{
        background: var(--txt-secondary);
        transition: 0.5s;
    }

    .primary:hover{
        background: var(--primary-semi-transparent);
        transition: 0.5s;
    }

    .third svg:hover{
        color: var(--txt-active);
    }
}

@media (max-width: 1000px) {
    .iconButton p {
        font-size: 10px;
    }
    .iconButton{
        padding: 5px;
    }

}

@media (max-width: 768px) {
    .iconButton{
        padding: 5px;
    }
}