.listContainer{
    padding: 5px;
}

.day{
    display: grid;
    grid-template-columns: 150px auto;
    gap: 15px;
}

.active{
    color: var(--fg);
}

.current{
    color: var(--primary);
}

.title{
    font-size: 1.2vw !important;
    font-family: "Podkova", sans-serif;
    text-align: center;
    padding-bottom: 5px;
}


@media(max-width: 1000px)
{
    .title{
        font-size: 12px !important;
    }
}