.cartSection{
    margin: 0 50px 0 50px;
}

.cartSection h2{
    text-align: left;
    font-size: 1.5vw;
}

.cartSection p{
    font-size: 0.9vw;
    font-weight: 200;
}

.cartContainer{
    display: flex;
    gap: 15px;
}

.leftSide{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rightSide{
    max-width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartSummary{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: var(--section-bg);
    gap: 20px;
}

.cartSummary button{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title{
    font-family: "Podkova", sans-serif;
    color: var(--txt-active);
    font-weight: 500 !important;
    font-size: 1.2vw !important;
}

.summaryRow{
    display: flex;
    justify-content: space-between;
}

.active{
    color: var(--txt-active);
}

.primary {
    color: var(--primary);
}

.pointsSection{
    background: var(--section-bg);
    padding: 20px;
    border-radius: 10px;
}

.promoSection{
    background: var(--section-bg);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paymentSection{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--section-bg);
    border-radius: 10px;
}

.deliverySection{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--section-bg);
    border-radius: 10px;
}

.paymentMethods{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.method svg{
    max-width: 100px;
    height: fit-content;
}

.deliveryMethods{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.delMethod{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--third);
    gap: 10px;
    height: fit-content;
}

.method{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--third);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.method svg{
    color: var(--txt-secondary);
}

.method.active{
    background: var(--third);
    border: 1px solid var(--primary);
}

.delBar{
    display: flex;
    gap: 10px;
    margin-left: 25px;
}

.barContent svg{
    color: var(--txt-secondary);
    height: 12px;
    width: min-content;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.opened{
    background: #2AC02A;
}

.imagesRow{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.imagesRow .imageWrapper{
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.imagesRow .imageWrapper{
    width: 50px;
}

.good .imageWrapper{
    width: 130px;
}

.imageWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

.tableHeader{
    background: var(--section-bg);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.goodsListSection{
    background: var(--section-bg);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.good{
    display: flex;
    gap: 15px;
}

.plusMinusButton{
    border-radius: 10px;
    background: var(--third);
    padding: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.centerGood{
    align-self: center;
}

.buttonsRow{
    display: flex;
    height: 50px;
    gap: 5px;
    align-self: center;
}

.buttonsRow input{
    width: 70px;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
}

.trashButton{
    align-self: center;
}

.goodDescription{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.characteristicsRow{
    display: flex;
    gap: 15px;
}

.characteristic{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.mobileCol{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row span{
    min-height: 14px;
    min-width: 20px;
}

@media (hover: hover) and (pointer: fine) {
    .method:hover {
        background: var(--third);
        transition: 0.5s;
    }

    .method:hover svg {
        scale: 1.1;
        transition: 0.5s;
    }

    .plusMinusButton:hover{
        background: var(--txt-secondary);
        transition: 0.5s;
    }

    .trashButton svg:hover{
        color: var(--txt-active);
        transition: 0.5s;
    }
}

@media (max-width: 1250px) {
    .cartContainer{
        flex-direction: column-reverse;
    }
    .rightSide{
        flex-direction: row;
        max-width: 100%;
        max-height: 25%;
        gap: 10px;
        justify-content: space-between;
    }
    .mobileCol{
        gap: 10px;
    }

}

@media (max-width: 1000px) {
    .title{
        font-size: 12px !important;
    }
    .cartSection h2{
        font-size: 15px;
    }
    .cartSection p{
        font-size: 10px;
    }
    .imagesRow .imageWrapper{
        width: 40px;
    }
    .cartSection{
        margin: 0 25px 0 25px;
    }
}

@media (max-width: 900px) {
    .paymentMethods{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .method svg{
        max-width: 70px;
    }
}

@media (max-width: 750px) {
    .promoSection .row{
        flex-direction: column;
    }
    .plusMinusButton{
        padding: 5px;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .buttonsRow input{
        height: 35px;
        align-self: center;
    }

    .trashButton svg{
        max-width: 13px;
    }

    .plusMinusButton svg{
        max-width: 20px;
        max-height: 20px;
    }
}

@media (max-width: 650px) {
    .buttonsRow{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .buttonsRow input{
        width: 40px;
    }

    .good .imageWrapper{
        width: 90px;
    }

}
