.sectionContainer{
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    gap: 10px;
}

.sectionContainer h3{
    text-align: left;
    text-transform: none;
    font-size: 1.2vw;
}

.cardsRow{
    display: flex;
    gap: 15px;
}

.showMore{
    border-radius: 10px;
    height: 100%;
    background: var(--section-bg);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.showMore:hover{
    background: var(--third);
    transition: 0.5s;
}

.showMore p{
    width: max-content;
    text-align: center;
    color: var(--fg);
    font-weight: 200;
    font-size: 0.9vw;
}

@media (max-width: 1000px) {
    .sectionContainer{
        width: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        margin-left: 25px;
        gap: 10px;
    }

    .sectionContainer h3{
        font-size: 12px;
    }

    .showMore p{
        font-size: 10px;
    }


}