@use "../../utils/partialStyles/_pxToRem.scss" as *;

.operation:hover .activeOnHover{
    color: var(--txt-active);
    transition: 0.5s;
}

.operation{
    display: grid;
    grid-template-columns: 3fr 2fr 4fr 1fr;
    border-bottom: rem(3) solid var(--third);
    padding: rem(5) rem(7);
    cursor: pointer;
}

.operationDescription {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease, padding 0.5s ease;
    display: flex;
    flex-direction: column;
    border-bottom: rem(3) solid var(--third);
    padding: 0;
    cursor: pointer;
}

.operationDescription.expanded {
    min-height: fit-content;
    max-height: rem(300);
    opacity: 1;
    visibility: visible;
    padding: rem(5) rem(7);
}

.arrowContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: rem(5);
}

.arrowContainer svg{
    transition: transform 0.3s ease;
}

.operation.expanded .arrowContainer svg{
    transform: rotate(180deg);
}

.active{
    color: var(--txt-active);
    font-weight: 500;
}

.row{
    display: flex;
    align-items: center;
    gap: rem(5);
}