.header{
    text-align: center;
    height: 95px;
    padding: 15px 3%;
}

.headerGrid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 160px 1fr auto;
}

.logoMenu{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.logoMenu svg{
    max-height: 50px;
    max-width: 111px;
    height: auto;
    width: auto;
}

.logoWrapper {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    flex: 1;
}

.menuItems{
    width: 90%;
    max-width: 915px;
    height: 35px;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 3%;
    overflow: hidden;
}

.menuItems a{
    font-weight: 300;
    text-transform: uppercase;
}

.active{
    color: var(--primary);
}

.socialsTheme{
    display: flex;
    /*justify-content: space-between;*/
    width: fit-content;
    justify-content: flex-end;
    align-items: center;

}

.socials{
    width: 200px;
    background: rgba(39, 39, 39, 0.5);
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.mobileMenu {
    position: absolute;
    top: 95px;
    left: 0;
    width: fit-content;
    background-color: var(--bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--section-bg);
    border-right: 3px solid var(--section-bg);
    padding: 10px 10px;
    border-radius: 0 0 10px 0;

    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transition: max-height 0.7s ease;
}

.mobileMenu.open {
    max-height: fit-content;
    opacity: 1;
}

.pathContainer{
    position: relative;
}

.subMenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: max-content;
}
.subMenuItem{
    padding: 10px 20px;
    border-radius: 10px;
}

.subMenuItem:hover{
    background: var(--section-bg);
    transition: 0.5s;
}

.subMenuMobile {
    padding-left: 20px;
}

.subMenuItemMobile {
    padding: 10px 20px;
    text-align: right!important;
    text-decoration: none;
    color: var(--txt-active);
    font-weight: 300;
    text-transform: uppercase;
    transition: background 0.5s;
    display: block;
}

.subMenuItemMobile:hover {
    background-color: var(--section-bg);
}

.subMenuItemMobile.active {
    background-color: var(--section-bg);
    color: var(--primary);
}

.mobileMenu a {
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    color: var(--txt-active);
    font-weight: 300;
    text-transform: uppercase;

    margin: 5px;
    border-radius: 10px;
}

.mobileMenu a.active, .subMenu a.active {
    background-color: var(--section-bg);
    color: var(--primary);
}

.mobileMenu a:hover {
    background-color: var(--section-bg);
}

.mobileMenuItem a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.mobileMenu a.active svg{
    color: var(--primary);
}

.mobileMenu a svg {
    transition: transform 0.3s ease;
}

.mobileMenu a.open svg {
    transform: rotate(180deg);
}



.mobileMenuItem svg{
    align-self: center;
}


@media (max-width: 768px) {
    .menuItems{
        display: none;
    }
}

@media (max-width: 1000px) {
    .socialsTheme{
        padding: 0 20%;
    }


    .logoMenu svg{
        max-height: 40px;
    }

    .socials{
        display: none;
    }

    .headerGrid{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 160px 1fr 200px;
    }
}