.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: var(--section-bg);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: 25px;
    min-height: 100px;
    min-width: 100px;
    max-width: 95vw;
    max-height: 95vh;
}

.modalContent p{
    font-size: 0.9vw;
    font-weight: 200;
}

.modalHeader{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.modalHeader svg{
    color: var(--txt-active);
    width: 20px;
    height: 20px;
}

.outlineTitle{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--primary);
    font-size: 4vw;
}

.center{
    text-align: center;
}


.adultContent{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

@media (hover: hover) and (pointer: fine) {
    .modalHeader svg:hover {
        color: var(--primary);
        transition: 0.5s;
    }
}

.title{
    font-size: 1.2vw;
}

.titleWrapper{
    flex-grow: 1;
    text-align: center;
}

@media (max-width: 1000px) {
    .modalContent p{
        font-size: 10px;
    }
    .title{
        font-size: 12px;
    }
    .outlineTitle{
        font-size: 50px;
    }
}

@media (max-width: 600px) {
    .outlineTitle{
        font-size: 30px;
    }
}


@media (max-width: 500px) {
    .modalContent{
        padding: 7px;
    }
}