@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.banner{
  padding: rem(20) rem(10);
  display: flex;
  flex-direction: column;
  width: 20vw;
  gap: rem(10);
}

@media (max-width: rem(1225)) {
  .banner{
    display: none;
  }
}