.galleryContainer{
    margin: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.galleryButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.galleryPictures{
    display: flex;
    gap: 10px;
    overflow: hidden;
}

.galleryPictures img{
    max-height: 450px;
    cursor: zoom-in;
    background-color: var(--bg);
}

@media (max-width: 500px) {

    .galleryPictures img{
        max-height: initial;
        max-width: 300px;
    }
}

@media (max-width: 768px) {

    .galleryPictures img{
        max-height: initial;
        max-width: 300px;
    }
}

@media (max-width: 1000px) {

    .galleryContainer{
        margin: 0 25px 25px 25px;
    }
}

