.simpleButton{
    background: var(--primary);
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    padding: 10px;
    width: fit-content;
    align-items: center;
    cursor: pointer;
}

.simpleButton.secondary{
    background: var(--section-bg);
    border: 2px solid var(--primary);
}

.simpleButton p{
    font-size: 0.8vw;
    text-wrap: nowrap;
    text-transform: uppercase;
    color: var(--bg)
}

.simpleButton.secondary p{
    font-size: 0.8vw;
    text-wrap: nowrap;
    text-transform: uppercase;
    color: var(--txt-active);
}

.black{
    color: var(--bg) !important;
}

.third{
    background: var(--section-bg);
}

.third p{
    color: var(--primary);
}

.wthBg {
    background: transparent !important;
}

.wthBg:hover {
    background: var(--third) !important;
    transition: 0.5s;
}


@media (hover: hover) and (pointer: fine) {
    .simpleButton.secondary:hover{
        background: var(--third);
        transition: 0.5s;
    }

    .simpleButton:hover{
        background: var(--primary-semi-transparent);
        transition: 0.5s;
    }
    .third:hover {
        background: var(--third);
        transition: 0.5s;
    }
}

@media (max-width: 1000px) {
    .simpleButton p, .simpleButton.secondary p {
        font-size: 10px;
    }

}

@media (max-width: 768px) {
    .iconButton{
        padding: 5px;
    }
}