.sectionHeader{
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 0;
}

.sectionHeader.mobile, .sectionHeader.mobile .tasksCol{
    margin: 0 25px 0 25px;
}

.description{
    font-size: 0.9vw;
    font-weight: 200;
}

.title{
    font-size: 1.5vw;
    text-align: left;
}

.tasksCol{
    display: flex;
    flex-direction: column;
    margin: 0 50px 50px 0;
    background: var(--section-bg);
    border-radius: 5px;
    height: 70vh;
}

.operation{
    display: grid;
    grid-template-columns: 3fr 2fr 4fr 1fr;
    border-bottom: 3px solid var(--third);
    padding: 5px 7px;
    cursor: pointer;
}

.tasksCol p{
    font-size: 0.9vw;
    font-weight: 200;
}

.tasksCol{
    scrollbar-width: thin;
    scrollbar-color: var(--section-bg) var(--third);
}

.tasksCol::-webkit-scrollbar {
    width: 10px;
}

.tasksCol::-webkit-scrollbar-track {
    background: var(--third);
    border-radius: 5px;
}

.tasksCol::-webkit-scrollbar-thumb {
    background: var(--section-bg);
    border-radius: 10px;
    border: 2px solid var(--third);
}

.tasksCol::-webkit-scrollbar-thumb:hover {
    background: var(--fg);
}

@media (max-width: 1000px) {
    .title{
        font-size: 15px;
    }
    .description{
        font-size: 10px;
    }
    .tasksCol{
        margin: 0 25px 50px 25px;
    }
}

