@use "../../utils/partialStyles/_pxToRem.scss" as *;

.cardsContainer{
    margin: 0 0 rem(50) rem(50);
    display: flex;
    flex-direction: column;
    gap: rem(10);
}

.cardsButtons{
    display: flex;
    flex-direction: row;
    gap: rem(10);
}

.cardsPictures{
    display: flex;
    gap: rem(10);
    overflow: hidden;
}

.cardsPictures img{
    max-height: rem(450);
}

@media (max-width: rem(500)) {
    .cardsPictures img{
        max-height: initial;
        max-width: rem(300);
    }
}

@media (max-width: rem(768)) {
    .cardsPictures img{
        max-height: initial;
        max-width: rem(300);
    }
}

@media (max-width: rem(1000)) {
    .cardsContainer{
        margin: 0 rem(25) rem(25) rem(25);
    }
}

