.advantagesListContainer{
    margin: 0 50px 50px 50px;
    background: var(--section-bg);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    font-weight: 200;
    flex-wrap: wrap;

}

.advantagesListItem svg{
    height: 50px;
    width: 50px;
}

.advantagesListItem{
    display: flex;
    gap: 15px;
}

.advantagesListItem p{
    font-weight: 200;
    font-size: 0.9vw;
}

.advantagesListItem h3{
    text-align: left;
    color: var(--primary);
    font-size: 1.2vw;
}

@media (max-width: 1000px) {
    .advantagesListItem{
        gap: 10px
    }
    .advantagesListItem p{
        font-size: 10px;
    }
    .advantagesListItem h3{
        font-size: 12px;
    }
    .advantagesListItem svg{
        height: 30px;
        width: 30px;
    }
    .advantagesListContainer{
        gap: 15px;
        margin: 0 25px 25px 25px;
        justify-content: center;
    }
    .advantagesListContainer > div {
        flex-basis: calc(50% - 20px);
        box-sizing: border-box;
    }
}