
.preFooter {
    background: linear-gradient(to bottom, var(--bg), var(--section-bg));
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 5%;
    box-sizing: border-box;
}


.phoneImg {
    min-height: 350px;
    max-width: 440px;
    width: 30%;
    height: auto;
    align-self: flex-end;
    margin-bottom: -30%;
}

.buttonsContainer{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.buttonsContainer svg{
    width: 130px;
    height: min-content;
}

.downloadButton{
    border: none;
    background: #2E2C2F;
    border-radius: 5px;
    padding: 2px 5px;
}


.textContainer{
    display: flex;
    flex-direction: column;
}



.qrCodeContainer p{
    font-size: 0.6vw !important;
}

.qrCodeContainer img{
    max-width: 10vw;
    height: auto;
}

.preFooterItems {
    max-width: 60%;
    text-align: left;
    color: white;
    align-self: flex-end;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
    gap: 20px;
}


.footer{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.footerLeft{
    width: 100%;
}

.footerRight{
    width: 40%;
    max-width: 220px;
}

.footerTop{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    padding: 30px 10px 10px 10px;
}

.bottomMenu{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
}

.bottomMenu a{
    font-weight: 300;
}


.bottomMenuColumn{
    display: flex;
    gap: 17px;
    flex-direction: column;
}



.bottomMenuColumn h1{
    font-size: 2vw;
}

.footerBottom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 10px 10px 10px;
    height: 70px;
}

.hrtLine{
    background: #3C3B3B;
    height: 1px;
    width: 100%;
    margin: 30px 0;
}
.preFooter p{
    font-weight: 200;
    font-size: 0.9vw;
    color: var(--txt-secondary);
}

.footer p{
    font-weight: 200;
    font-size: 0.9vw;
    color: var(--txt-active);
}

.preFooter h3{
    text-align: left;
    font-size: 1.2vw;
    text-transform: uppercase;
}

.footerTop .bottomMenuColumn svg{
    max-height: 45px;
    max-width: fit-content;
}

@media (max-width: 1000px) {
    .footerTop .bottomMenuColumn svg{
        max-height: 40px;
        max-width: fit-content;
    }
    .footer p, .preFooter p{
        font-size: 10px;
    }
    .preFooter h3{
        font-size: 12px;
    }
    .bottomMenuColumn h1{
        font-size: 15px;
    }
    .bottomMenu{
        display: none;
    }
    .qrCodeContainer{
        display: none;
    }
    .buttonsContainer svg{
        width: 100px;
        height: min-content;
    }

}

@media(max-width: 650px){
    .bottomMenuColumn h1{
        font-size: 10px;
    }
    .textContainerP, .textContainer h3{
        display: none;
    }
    .phoneImg{
        margin-bottom: -20%;
    }

    .textContainer{
        flex-direction: row;
    }
    .buttonsContainer{
        flex-direction: column;
    }
}


@media (max-width: 500px) {
    .footerTop .bottomMenuColumn svg{
        max-height: 20px;
        max-width: fit-content;
    }
}