.blogCard{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: var(--section-bg);
    gap: 10px;
}

.blogCard p{
    font-size: 0.9vw;
    font-weight: 200;
}

.cardTextPrimary{
    font-family: Podkova, sans-serif;
    font-weight: initial;
    color: var(--primary);
}

.cardTextPrimary, .cardDescription{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardTextPrimary{
    -webkit-line-clamp: 2;
    cursor: pointer;
}

.cardDescription{
    -webkit-line-clamp: 3;
    color: var(--txt-active);
}

.imageContainer{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    aspect-ratio: 1.3/1;
}

.cardImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    aspect-ratio: 1/1;
    transition: filter 0.3s;
}


.imageContainer:hover img {
    filter: brightness(0.5) blur(5px);
    transition: 0.3s;
}

.imageContainer svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 15%;
    height: fit-content;
}


.tagsRow{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.tag{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: var(--third);
    border-radius: 20px;
}

.tag p{
    text-transform: uppercase;
    font-size: clamp(8px, 0.8vw, 10px);
    font-weight: 200;
    color: var(--primary);
}

@media (max-width: 1000px) {
    .blogCard p{
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .imageContainer{
        height: 100px;
    }
}