.tooltipContainer {
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.tooltipText {
    visibility: hidden;
    background-color: var(--third);
    color: var(--txt-active);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 500;
    top: 50%;
    left: 150%;
    transform: translatey(-50%);
    white-space: nowrap;
    font-size: 0.9vw;
    opacity: 0;
    font-weight: 200;
    transition: opacity 0.3s ease;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltipContainer:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1000px) {
    .tooltipText{
        font-size: 10px;
    }
}