.sectionContainer{
    margin: 0 50px 50px 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0;
}

.titleContainer.show{
    height: 200px;
    transition: height 1s linear;
}

.cardWrapper{
    min-width: 200px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.sectionContainer h1{
    font-size: 2vw;
}

.sectionContainer p{
    font-size: 0.9vw;
    font-weight: 200;
}

.cap svg{
    max-width: 100px;
    height: fit-content;
}

.cap.show{
    position: relative;
}

.cap{
    position: absolute;
}

.bottle svg{
    max-width: 220px;
    height: fit-content;
}

.cardContainer{
    width: 100%;
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 15%;
    justify-content: center;
    overflow: hidden;
}

.cardContainer {
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
}

.cardContainer.show {
    transform: translateX(0);
}

.videoCardContainer{
    width: 100%;
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 55%;
    justify-content: center;
    z-index: -1;
    overflow: hidden;
}

.videoCardContainer{
    bottom: 50%;
}

.videoCardContainer {
    transform: translateX(100%);
    transition: transform 1s ease-in-out;
}

.videoCardContainer.show {
    transform: translateX(0);
}

.textPrimary{
    color: var(--primary);
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}


@media (max-width: 1000px) {
    .sectionContainer{
        margin: 0 25px 25px 25px;
    }
    .sectionContainer p{
        font-size: 10px;
    }
    .sectionContainer h1{
        font-size: 20px;
    }
}