.title{
    font-size: 1.5vw;
    text-align: left;
}

.row{
    display: flex;
    gap: 15px;
    align-items: center;
}

.arrowButton{
    background: var(--primary);
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
    .arrowButton:hover {
        background: var(--primary-semi-transparent);
        transition: 0.5s;
    }
}

.arrowButton svg{
    color: var(--section-bg);
    max-width: 15px;
    height: fit-content;
}

@media (max-width: 1000px) {
    .title{
        font-size: 15px;
    }
}