@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Podkova:wght@400..800&display=swap');

:root {
  --bg: #141414;
  --bg-full-opacity: rgba(20,20,20,0);
  --btn-secondary: #F3F3F3;
  --txt-primary: #FFFFFF;
  --txt-secondary: #9A9A9A;
  --fg: #FFFFFF;
  --primary: #F2C247;
  --btn-hover: #9DC3E7;
  --err-primary: #F64E60;
  --txt-active: #EFEFEF;
  --section-bg: #272727;
  --section-bg-semi-transparent: rgba(39, 39, 39, 0.7);
  --primary-semi-transparent: rgba(242, 194, 71, 0.5);
  --bg-semi-transparent: rgba(20, 20, 20, 0.3);
  --third-semi-transparent: rgba(60, 59, 59, 0.3);
  --txt-secondary-semi-transparent: rgba(243, 243, 243, 0.3);
  --third-70-transparent: rgba(60, 59, 59, 0.7);
  --icon-added: #FF2F2F;
  --third: #3C3B3B;
  --selectable: #303030;
  --form-bg: rgba(60, 59, 59, 0.2);
}
/*
:root {
  --bg: #ebebeb;
  --btn-secondary: #0c0c0c;
  --txt-primary: #000000;
  --txt-secondary: #656565;
  --fg: #000000;
  --primary: #F2C247;
  --btn-hover: #9DC3E7;
  --err-primary: #F64E60;
  --txt-active: #101010;
  --section-bg: #d8d8d8;
  --primary-semi-transparent: rgba(242, 194, 71, 0.5);
  --icon-added: #FF2F2F;
  --third: #c3c4c4;
  --selectable: #cfcfcf;
}*/

.leaflet-container{
  height: 100%;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.leaflet-popup-content-wrapper {
  background: var(--section-bg);
}

.leaflet-control-attribution.leaflet-control{
  display: none;
}



* {
  font-family: "Geologica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}

a{
  all: unset;
  display: inline-block;
  color: var(--txt-active);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  background: var(--bg);
}

.app {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  overflow-y: auto;
  max-width: 1920px;
  margin: 0 auto;
}

svg{
  color: var(--txt-active);
  cursor: pointer;
  vertical-align: middle;
}

.iconPrimary{
  color: var(--primary);
}

.iconTxtSecondary{
  color: var(--txt-secondary)
}

.iconSecondary{
  fill: var(--bg);
}
.contentContainer{

  width: 100%;
  height: 100%;
  font-family: "Geologica", sans-serif;
}



.content{
  min-height: 90vh;
  position: relative;
  z-index: 2;
}




h1, h2, h3{
  font-family: "Podkova", sans-serif;
  color: var(--txt-primary);
  text-align: center;
  text-transform: uppercase;
}

h3{
  text-transform: uppercase;
}

p{
  color: var(--txt-secondary);
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bottle {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 25%;
  height: auto;
  max-width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
}


.hrtLine{
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background: var(--third);
}

.circle{
  min-width: 4px;
  min-height: 4px;
  width: 4px;
  height: 4px;
  background: var(--primary);
  border-radius: 100%;
}

.limited-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}

.limited-text-7{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
}

.quantity{
  background: var(--primary);
  padding: 2px 5px;
  border-radius: 10px;
}

.quantity p{
  color: var(--bg);
}

.simpleContainer{
  margin: 0 50px 0 50px;
}

@media (max-width: 1000px) {
  .simpleContainer{
    margin: 0 25px 0 25px;
  }
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    color: var(--primary);
    transition: 0.5s;
    cursor: pointer;
  }

  svg:hover{
    color: var(--primary);
    transition: 0.5s;
  }
}

.fallback{
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fallback svg{
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
  transform-origin: center;
  animation: bottle-animation 2s infinite ease-in-out;
}

@keyframes bottle-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-360deg);
  }

}

.noWrap{
  white-space: nowrap;
}

.leaflet-popup-content{
  max-width: 70vw;
}


.clear-button{
  border-style: none;
  cursor: pointer;
  padding: 0;
}

.nav-chain-no-margin{
  margin: 0 50px 0 0 !important;
}

@media (max-width: 1000px) {
  .nav-chain-no-margin{
    margin: 0 25px 0 25px !important;
  }
}