@use 'sass:math';

@mixin fluid-text($max: 48, $min: 16){
  $maxViewportWidth: 1400;
  $minViewportWidth: 360;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
          #{$minSize * 1rem},
          #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
          #{$maxSize * 1rem}
  );
}
.text-giant {@include fluid-text(70, 40)}

.text-big {@include fluid-text(56,36)}
h1 { @include fluid-text(40, 28) }
h2 { @include fluid-text(36, 26) }
h3 { @include fluid-text(32, 24) }
h4 { @include fluid-text(28, 22) }
h5 { @include fluid-text(24, 20) }
h6 { @include fluid-text(20, 18) }
body { @include fluid-text(18, 16) }
button { @include fluid-text(18, 16) }
label { @include fluid-text(18, 16) }
input { @include fluid-text(18, 16) }
li { @include fluid-text(18, 16) }
textarea { @include fluid-text(18, 16) }
span { @include fluid-text(18, 16) }
.text-min {@include fluid-text(16, 14)}
.text-large {@include fluid-text(90, 30)}
.quantity {@include fluid-text(14, 12)}
.text-small {@include fluid-text(12,10)}
.text-min-small {@include fluid-text(16,8)}

.ma-p {@include fluid-text(18, 12)}
.ma-p1 {@include fluid-text(18, 14)}
.ma-p2 {@include fluid-text(18, 10)}
.ma-h2 {@include fluid-text(36, 20)}
.ma-h3 {@include fluid-text(32, 18)}
.ma-h4 {@include fluid-text(28, 16)}
.ma-h6 {@include fluid-text(20, 12)}

.aa-p1 {@include fluid-text(16, 14)}
.aa-p1-2 {@include fluid-text(16, 10)}
.aa-p2 {@include fluid-text(14, 10)}
.aa-p3 {@include fluid-text(16, 10)}
.aa-h6 {@include fluid-text(22, 14)}

.ma-h4-small {@include fluid-text(28, 12)}
.ma-h2-small {@include fluid-text(36, 18)}
.ma-h3-small {@include fluid-text(32, 14)}

body.no-scroll {
  overflow: hidden;
}