@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.skeletonTextPrimary {
    width: 80%;
    height: rem(20);
    margin-bottom: rem(10);
    border-radius: rem(4);
    background: var(--primary);
}

.skeletonTextSecondary {
    width: 60%;
    height: rem(16);
    border-radius: rem(4);
    background: var(--txt-secondary);
}

.skeletonBookmark {
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
}

.skeletonImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: rem(5);
    background: var(--third);
}


.skeletonCharacteristic {
    width: rem(40);
    height: rem(20);
    border-radius: rem(4);
    background: var(--txt-secondary);
}

.cardFooter{
    background: rgba(39, 39, 39, 0.6);
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 rem(10) rem(10);
    padding: rem(10);
    align-items: center;
}


.characteristics{
    display: flex;
    justify-content: space-around;
}

.skeletonPrice {
    width: 30%;
    height: rem(20);
    border-radius: rem(4);
    background: var(--primary);
}

.skeletonBuyButton {
    width: 60%;
    height: rem(30);
    border-radius: rem(5);
    background: var(--primary);
}

.card{
    max-width: rem(270);
    display: flex;
    flex-direction: column;
}



.bottledBeerCard{
    padding: rem(20);
    display: flex;
    flex-direction: column;
    border-radius: rem(10) rem(10) 0 0;
    background: var(--section-bg);
    gap: rem(10);
    flex: 1;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
}

@media (max-width: rem(900)) {
    .bottledBeerCard{
        padding: rem(10);
    }
    .card{
        max-width: rem(200);
    }
}

@media (max-width: rem(768)) {
    .bottledBeerCard{
        padding: rem(5);
    }

    .cardFooter{
        padding: rem(5);
    }
}