.cookieConsent {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg);
    padding: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    border: 2px solid var(--primary);
}

.cookieConsent p {
    margin: 0;
    font-size: 0.9vw;
    font-weight: 200;
    color: var(--txt-active);
}

.cookieConsent button p{
    color: initial;
}

.cookieConsent a {
    color: #007bff;
    text-decoration: none;
}


.cookieConsentActions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.acceptBtn,
.declineBtn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}


.acceptBtn:hover {
    background-color: #0056b3;
}

@media (max-width: 1000px) {
    .cookieConsent p {
        font-size: 10px;
    }
}
