@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.navChainContainer{
    display: flex;
    align-items: center;
    gap: rem(10);
    font-weight: 200;
}

.navChainContainer a{
    color: var(--txt-secondary)
}

@media (hover: hover) and (pointer: fine) {
    .navChainContainer a:hover {
        color: var(--txt-active);
        transition: 0.5s;
    }
}


@media (max-width: rem(1000)) {
    .navChainContainer{
        gap: rem(5);
    }
}

