@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.card{
    max-width: rem(500);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardTitle{
    hyphens: auto;
    word-wrap: break-word;
}
.bookMarkContainer{
    margin-left: rem(5);
}

.productCard{
    padding: rem(20);
    display: flex;
    flex-direction: row;
    border-radius: rem(10) rem(10) 0 0;
    background: var(--section-bg);
    gap: rem(10);
    flex: 1;
}

.description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
}

.hrtLine{
    width: 100%;
    height: rem(1);
    border-radius: rem(10);
    background: var(--third);
}


.characteristics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.cardFooter{
    background: rgba(39, 39, 39, 0.6);
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 rem(10) rem(10);
    padding: rem(10);
    align-items: center;
}

.priceDivider{
    .cardFooterLeft{
        width: 100%;
        justify-content: flex-end;

    }
}


.cardFooterLeft{
    display: flex;
    align-items: center;
    gap: rem(10);
}

.textActive {
    font-weight: 200;
    color: var(--txt-active);
}

.textActive.secondary{
    color: var(--txt-secondary);
}

.textMedium{
    font-weight: 200;
    color: var(--txt-active);
}

.cardTextPrimary{
    font-family: Podkova, sans-serif;
    color: var(--primary);
    text-transform: uppercase;
}


.cardTop{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bookMarkButton svg{
    position: relative;
    right: 0;
    top: rem(-23);
    color: var(--primary);
}

.ratingText {
    font-weight: 200;
    color: var(--txt-active);
    margin-top: rem(-15);
    position: relative;
    right: 0;
    text-align: center;
}

.bookMarkButton.added svg{
    color: var(--icon-added);
    fill: var(--icon-added);
}

.imgContainer{
    position: relative;
    display: inline-block;
    width: rem(150);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: rem(5);
    cursor: pointer;
    background: var(--fg);
    min-width: rem(150);
}

.third{
    background: var(--third);
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: rem(5);
}

.zoom{
    cursor: zoom-in;
}


.favButton{
    background: var(--third);
    width: rem(30);
    height: rem(30);
    max-width: rem(50);
    max-height: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.favButton svg{
    color: var(--txt-active);
}

.favButton.added svg{
    color: var(--icon-added);
    fill: var(--icon-added);
}

@media (hover: hover) and (pointer: fine) {
    .favButton:hover.added svg {
        color: var(--icon-added);
    }

    .favButton:hover svg {
        color: var(--primary);
        transition: 0.5s;
    }
}

@media (max-width: rem(900)) {
    .productCard{
        padding: rem(10);
    }

    .bookMarkButton svg{
        top: rem(-11);
    }
    .ratingText {
        display: none;
    }
    .imgContainer{
        width: rem(100);
    }
}

@media (max-width: rem(768)) {


    .productCard{
        padding: rem(5);
    }

    .favButton{
        width: rem(20);
        height: rem(20);
    }

    .favButton svg{
        width: rem(10);
        height: rem(10);
    }

    .bookMarkButton svg{
        top: rem(-6);
    }

    .cardFooter{
        padding: rem(5);
    }
}

@media (max-width: rem(600)) {
    .card{
        max-width: 100%;
    }
}