.card{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardTitle{
    hyphens: auto;
    word-wrap: break-word;
}
.bookMarkContainer{
    margin-left: 5px;
}

.productCard{
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 10px 10px 0 0;
    background: var(--section-bg);
    gap: 10px;
    flex: 1;
}

.description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
}

.hrtLine{
    width: 100%;
    height: 1px;
    border-radius: 10px;
    background: var(--third);
}


.characteristics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.cardFooter{
    background: rgba(39, 39, 39, 0.6);
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    align-items: center;
}

.cardFooterLeft{
    display: flex;
    align-items: center;
    gap: 10px;
}

.textActive{
    font-size: clamp(10px, 0.9vw, 15px);
    font-weight: 200;
    color: var(--txt-active);
}

.textActive.secondary{
    color: var(--txt-secondary);
}

.textMedium{
    font-size: clamp(12px, 1.2vw, 20px);
    font-weight: 200;
    color: var(--txt-active);
}

.cardTextPrimary{
    font-size: clamp(12px, 1.2vw, 20px);
    font-family: Podkova, sans-serif;
    color: var(--primary);
    text-transform: uppercase;
}

.cardTop{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bookMarkButton svg{
    position: relative;
    right: 0;
    top: -23px;
    color: var(--primary);
}

.ratingText {
    font-size: clamp(10px, 0.8vw, 12px);
    font-weight: 200;
    color: var(--txt-active);
    margin-top: -15px;
    position: relative;
    right: 0;
    text-align: center;
}

.bookMarkButton.added svg{
    color: var(--icon-added);
    fill: var(--icon-added);
}

.imgContainer{
    position: relative;
    display: inline-block;
    width: 150px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    background: var(--fg);
    min-width: 150px;
}

.third{
    background: var(--third);
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}


.favButton{
    background: var(--third);
    width: 30px;
    height: 30px;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.favButton svg{
    color: var(--txt-active);
}

.favButton.added svg{
    color: var(--icon-added);
    fill: var(--icon-added);
}

.favButton:hover.added svg{
    color: var(--icon-added);
}

.favButton:hover svg{
    color: var(--primary);
    transition: 0.5s;
}

@media (max-width: 900px) {
    .productCard{
        padding: 10px;
    }
    .card{
        max-width: 250px;
    }
    .bookMarkButton svg{
        top: -11px;
    }
    .ratingText {
        display: none;
    }
    .imgContainer{
        width: 100px;
    }
}

@media (max-width: 768px) {


    .productCard{
        padding: 5px;
    }

    .favButton{
        width: 20px;
        height: 20px;
    }

    .favButton svg{
        width: 10px;
        height: 10px;
    }

    .bookMarkButton svg{
        top: -6px;
    }

    .cardFooter{
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .card{
        max-width: 100%;
    }
}