.arrowButton{
    background: var(--primary-semi-transparent);
    border: none;
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    max-height: 50px;
    min-height: 20px;
    min-width: 20px;
    padding: 0.5vw;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrowButton:hover{
    background: var(--primary);
    transition: 0.5s;
}

.arrowButton svg{
    width: 60%;
    height: auto;
}

@media (max-width: 500px) {
    .arrowButton {
        width: 7vw;
        height: 7vw;
        border-radius: 3px;
    }
}