.barInfoContainer{
    margin: 0 50px 50px 50px;
    display: flex;
    gap: 10px;
}

.barIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.socials{
    background: rgba(39, 39, 39, 0.5);
    width: 45px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
}

.barDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 60%;
}

.barDescription h2, .barInfo h2{
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 2vw;
}

.barDescription p, .ratingAndComments p, .barInfo p{
    font-weight: 300;
    font-size: 0.9vw;
}

.advantagesListItem h3{
    text-align: left;
    color: var(--primary);
    font-size: 1.2vw;
}

.barButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.barButtonsMobile{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin: 0 25px 25px 25px;
}

.barInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    gap: 10px;
}

.barInfo div{
    display: flex;
    gap: 10px;
}

.aIconButton{
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--txt-secondary);
    font-family: Podkova, sans-serif;
}

.aUnderlinedIconButton{
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--txt-primary);
    font-family: Podkova, sans-serif;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--txt-primary);
}

.aUnderlinedIconButton:hover{
    color: var(--primary);
    text-decoration-color: var(--primary);
    transition: 0.5s;
}

.logoImg{
    max-width: 119px;
}

.circle{
    width: 4px;
    height: 4px;
    background: var(--primary);
    border-radius: 100%;
}

.ratingAndComments{
    display: flex;
    align-items: center;
}

.beerBottles{
    display: flex;
    gap: 5px !important;
}

.beerBottles svg{
    cursor: initial !important;
}

.aIconButton svg{
    color: var(--primary);
}

.aIconButton.added svg{
    fill: var(--icon-added);
    color: var(--icon-added);
}

.aIconButton:hover{
    color: var(--txt-primary);
}

.barInfo h2{
    text-align: right;
    align-self: flex-end;
}

.barInfo.mobile{
    background: var(--bg);
    box-sizing: border-box;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    display: none;
    align-self: center;
}

@media (max-width: 1000px) {
    .barDescription p, .ratingAndComments p, .barInfo p{
        font-size: 10px;
    }
    .socials{
        display: none;
    }

    .barInfo.regular{
        display: none;
    }
    .barDescription h2, .barInfo h2{
        font-size: 15px;
    }
    .barInfoContainer{
        margin: 0 25px 25px 25px;
    }
    .barIcons svg{
        max-width: 50px;
        max-height: 50px;
        vertical-align: top;
    }
    .logoImg{
        max-width: 70px;
        max-height: 70px;
        vertical-align: top;
    }

    .barDescription{
        max-width: 100%;
    }
    .barInfo.mobile{
        display: flex;
        margin-right: 25px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .barButtonsMobile{
        display: flex;
        margin-bottom: 25px;
    }
    .barButtons{
        display: none;
    }
    .barInfoContainer{
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .barInfo.mobile{
    }
}