.customCheckbox input[type="checkbox"] {
    display: none;
}

.customCheckbox{
    display: flex;
    gap: 5px;
    align-items: center;
}



@media (hover: hover) and (pointer: fine) {
    .customCheckbox:hover{
        cursor: pointer;
    }
}

.customCheckbox p{
    font-size: clamp(10px, 0.9vw, 15px);
    font-weight: 200;
    color: var(--txt-active);
}

.customCheckbox .checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background: var(--selectable);
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.customCheckbox svg {
    display: none;
    width: 14px;
    height: 14px;
}

.customCheckbox input[type="checkbox"]:checked + .checkmark svg {
    display: flex;
    align-self: center;
}

@media (max-width: 1000px) {
    font-size: 10px;
}