@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.passwordContainer {
    width: 100%;
    padding: rem(8) rem(15) rem(8) rem(8);
    border-radius: rem(5);
    background: var(--third);
    display: flex;
}

.textInput{
    color: var(--txt-active);
    font-weight: 200;
    border: none;
    outline: none;
    background: var(--third);
}

.eyeIcon svg{
    stroke: var(--txt-secondary);
}
